#hero-container {
    position: relative;

    h1 {
        font-size: 3rem;
    }
}

#hero-img {
    height: 75vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6); 
    user-select: none;
}

#hero-overlay {
    text-align: center;
    position: absolute;
    color: var(--text-secondary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}